/**
 * Addressvalidator popup
 *
 * @category   Aydus
 * @package    Aydus_Addressvalidator
 * @author     Aydus <davidt@aydus.com>
 */

#av-popup-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;   
    background-color: #000;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
}
#av-popup-overlay[id]{ /* IE6 and below Can't See This */
    position: fixed;
}

#av-popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    width: 500px;
    margin: -220px 0 0 -250px;
    background-color: #fff;
    padding: 30px;
    border: 3px solid #002856;
    border-radius:16px;
    -webkit-border-radius:16px;
    -moz-border-radius:15px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Safari & Chrome */
    box-shadow: 0 0 20px rgba(255,255,255,0.8); /* Shadow Params */    
}
#av-popup-content[id]{ /* IE6 and below Can't See This */
    position: fixed;
}

#av-popup-content a {
    color: blue;
}

#av-popup-content .buttons {
    margin-top: 20px;
}
#av-popup-content .list li {
    margin-top: 10px;
}


@media only screen and (max-width: 520px){

    #av-popup-content{
        width: 350px;
        top: 80px;
        left: 80px;
        margin: 0;
    }
    #av-popup-content button.button span span {
        padding: 0 12px;
    }
}

@media only screen and (max-width: 450px){
    #av-popup-content{
        top: 50px;
        left: 50px;
    }
}

@media only screen and (max-width: 400px){
    #av-popup-content{
        width: 320px;
        top: 40px;
        left: 40px;
    }
}

@media only screen and (max-width: 350px){
    #av-popup-content{
        width: 300px;
        top: 10px;
        left: 10px;
    }
}
