<?xml version="1.0"?>
<!-- 
/** 
 * Addressvalidator system config
 *
 * @category   ExtensionsStore
 * @package    ExtensionsStore_Addressvalidator
 * @author     Extensions Store <admin@extensions-store.com>
 */
-->
<config>
    <sections>
        <extensions_store_addressvalidator translate="label" module="extensions_store_addressvalidator">
            <label>Address Validator</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configuration translate="label" module="extensions_store_addressvalidator">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If yes, billing/shipping addresses will be validated on checkout.]]></comment>
                        </enabled>
                        <debug_mode translate="label">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Set to yes to enable logging and unlimited attempts.]]></comment>
                        </debug_mode>
                        <countries translate="label">
                            <label>Validate Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select countries to validate addresses for.]]></comment>
                        </countries>
                        <num_results translate="label">
                            <label>Number of Results</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Select the number of results to show.]]></comment>
                        </num_results>
                        <num_attempts translate="label">
                            <label>Number of Attempts Allowed</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select the number of validation attempts allowed (minimum 1, maximum 25).]]></comment>
                        </num_attempts>  
                        <too_many_attempts_url translate="label">
                            <label>Customer Service URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Specify url to redirect customer to after too many validation attempts; i.e. contact-us.]]></comment>
                        </too_many_attempts_url>                           
                        <allow_bypass translate="label">
                            <label>Allow Bypass</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If service cannot validate address, just continue to next step.]]></comment>
                        </allow_bypass>                                                
                        <auto_populate translate="label">
                            <label>Auto Populate</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If YES, no popup will show. Validated address will be automatically populated.]]></comment>
                        </auto_populate>
                        <require_apartment translate="label">
                            <label>Require Apartment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If service returns apartment required, require it.]]></comment>
                        </require_apartment>
                        <validate_virtual_quote translate="label">
                            <label>Validate Virtual Quote</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[A virtual quote is a shopping cart that does not contain shippable items (i.e. downloadable products). Select No to not validate address if shopping cart contains only virtual items.]]></comment>
                        </validate_virtual_quote>
                        <save_customer_address translate="label">
                            <label>Save Customer Addresses</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If No, validated customer addresses will not be saved.]]></comment>
                        </save_customer_address>
                        <service translate="label">
                            <label>Service</label>
                            <frontend_type>select</frontend_type>
                            <source_model>extensions_store_addressvalidator/adminhtml_system_config_source_service</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select the service provider for address validation.]]></comment>
                        </service>  
                        <service2 translate="label">
                            <label>Secondary Service</label>
                            <frontend_type>select</frontend_type>
                            <source_model>extensions_store_addressvalidator/adminhtml_system_config_source_service</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If selected, results from both services will be combined.]]></comment>
                        </service2>
                        <service_international translate="label">
                            <label>International Service</label>
                            <frontend_type>select</frontend_type>
                            <source_model>extensions_store_addressvalidator/adminhtml_system_config_source_service</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional provider for international addresses.]]></comment>
                        </service_international>
                        <cleanlog_days translate="label">
                            <label>Clean Logs Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Clean logs after number of days.]]></comment>
                        </cleanlog_days>
                    </fields>
                </configuration>
                <messaging translate="label" module="extensions_store_addressvalidator">
                    <label>Popup Messaging</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <too_many_attempts translate="label">
                            <label>Too Many Attempts Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Popup message on too many validation attempts.]]></comment>
                        </too_many_attempts> 
                        <matches_available translate="label">
                            <label>Matches Available</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Messaging asking user to select a match found.]]></comment>
                        </matches_available> 
                        <invalid_address translate="label">
                            <label>No match found, invalid address</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Message notifying user of too many validation attempts and to contact Customer Support.]]></comment>
                        </invalid_address>
                        <apartment_required translate="label">
                            <label>Apartment Required Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Message indicating apartment number is required on Address Line 2.]]></comment>
                        </apartment_required>
                        <apartment_not_found translate="label">
                            <label>Apartment Invalid Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Message indicating apartment number is invalid and to enter on Address Line 2.]]></comment>
                        </apartment_not_found>
                    </fields>
                </messaging>
                <ups translate="label" module="extensions_store_addressvalidator">
                    <label>UPS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <url translate="label">
                            <label>Gateway URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[XAV Url.]]></comment>
                        </url>      
                        <access_license_number translate="label">
                            <label>Access Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[API Access Key.]]></comment>
                        </access_license_number>
                        <user_id translate="label">
                            <label>Account Number</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[UPS Account Number.]]></comment>
                        </user_id> 
                        <password translate="label">
                            <label>Account Password</label>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[API User Password.]]></comment>
                        </password>
                    </fields>
                </ups>
            </groups>
        </extensions_store_addressvalidator>
    </sections>
</config>

