<?xml version="1.0"?>
<!--
/**
 * 
 * @category    ExtensionsStore
 * @package     ExtensionsStore_Addressvalidator
 * @author      Extensions Store <support@extensions-store.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\Model\CompositeConfigProvider">
		<arguments>
			<argument name="configProviders" xsi:type="array">
				<item name="addressvalidator_config_provider" xsi:type="object">ExtensionsStore\Addressvalidator\Model\AddressvalidatorConfigProvider</item>
			</argument>
		</arguments>
	</type>
</config>