<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="controller_action_postdispatch_checkout_onepage_saveBilling">
        <observer name="addressvalidator_observer" instance="ExtensionsStore\Addressvalidator\Model\Observer" method="checkAddress" />
    </event>
</config>
