<?xml version="1.0"?>
<!-- 
/** 
 * Addressvalidator system config
 *
 * @category   Aydus
 * @package    Aydus_Addressvalidator
 * @author     Aydus <davidt@aydus.com>
 */
-->
<config>
    <sections>
        <aydus_addressvalidator translate="label" module="aydus_addressvalidator">
            <label>Address Validator</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configuration translate="label" module="aydus_addressvalidator">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If yes, billing/shipping addresses will be validated on checkout.]]></comment>
                        </enabled>   
                        <num_results translate="label">
                            <label>Number of Results</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Select the number of results to show.]]></comment>
                        </num_results>                           
                        <num_attempts translate="label">
                            <label>Number of Attempts Allowed</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select the number of validation attempts allowed (minimum 1, maximum 25).]]></comment>
                        </num_attempts>  
                        <too_many_attempts_url translate="label">
                            <label>Customer Service URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Specify url to redirect customer to after too many validation attempts; i.e. contact-us.]]></comment>
                        </too_many_attempts_url>                           
                        <allow_bypass translate="label">
                            <label>Allow Bypass</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If service cannot validate address, just continue to next step.]]></comment>
                        </allow_bypass>                                                
                        <auto_populate translate="label">
                            <label>Auto Populate</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If YES, no popup will show. Validated address will be automatically populated.]]></comment>
                        </auto_populate>   
                        <service translate="label">
                            <label>Service</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aydus_addressvalidator/adminhtml_system_config_source_service</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select the service provider for address validation.]]></comment>
                        </service>  
                        <service_international translate="label">
                            <label>International Service</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aydus_addressvalidator/adminhtml_system_config_source_service</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional provider for international addresses.]]></comment>
                        </service_international>                           
                    </fields>
                </configuration>
                <messaging translate="label" module="aydus_addressvalidator">
                    <label>Popup Messaging</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <too_many_attempts translate="label">
                            <label>Too Many Attempts Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Popup message on too many validation attempts.]]></comment>
                        </too_many_attempts> 
                        <matches_available translate="label">
                            <label>Matches Available</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Messaging asking user to select a match found.]]></comment>
                        </matches_available> 
                        <invalid_address translate="label">
                            <label>No match found, invalid address</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Message notifying user of too many validation attempts and to contact Customer Support.]]></comment>
                        </invalid_address>                         
                    </fields>                 
                </messaging>
                <ups translate="label" module="aydus_addressvalidator">
                    <label>UPS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <url translate="label">
                            <label>Gateway URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[XAV Url.]]></comment>
                        </url>      
                        <access_license_number translate="label">
                            <label>Access Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[API Access Key.]]></comment>
                        </access_license_number>                                        
                        <user_id translate="label">
                            <label>Account Number</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[UPS Account Number.]]></comment>
                        </user_id> 
                        <password translate="label">
                            <label>Account Password</label>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[API User Password.]]></comment>
                        </password>                         
                    </fields>                     
                </ups>                                 
                <addressdoctor translate="label" module="aydus_addressvalidator">
                    <label>Address Doctor</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <!-- Default -->
                        <customer_id translate="label">
                            <label>Customer Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Customer Id for Address Doctor.]]></comment>
                        </customer_id>                           
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Password for Address Doctor.]]></comment>
                        </password>      
                        <test_mode translate="label">
                            <label>Test Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Will use test transaction pools if yes.]]></comment>
                        </test_mode>
                        <valid_codes translate="label">
                            <label>Valid Codes</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>aydus_addressvalidator/adminhtml_system_config_source_addressdoctor_validcodes</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Select AD Response codes that are valid]]></comment>
                        </valid_codes>
                        <valid_exceptions translate="label">
                            <label>Valid Exceptions</label>
                            <frontend_model>aydus_addressvalidator/adminhtml_system_config_form_validexceptions</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Exceptions to valid codes above for specific countries]]></comment>
                        </valid_exceptions>                   
                    </fields>                
                </addressdoctor>
                <melissadata translate="label" module="aydus_addressvalidator">
                    <label>Melissa Data</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <customer_id translate="label">
                            <label>Melissa Data Customer Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Customer Id for Melissa Data.]]></comment>
                        </customer_id> 
                    </fields>                     
                </melissadata>
            </groups>
        </aydus_addressvalidator>
    </sections>
</config>

